<div class="p-4">
  <h1 class="text-xl mb-2">Hello Rails</h1>
  <div>ruby => 3.2.2</div>
  <div class="mb-2">rails => 7.0.8.4</div>
  <div class="mb-2">Home page</div>
  <div>branch: in-rails</div>
</div>